# Editors
.vscode/
.idea/

# Vagrant
.vagrant

# OS common metadata
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# # C extensions
# *.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bkp/
ojdbc8-full/
*tar.gz
package/*

# Local configuration files
secret.json
parameter.json
credential.json

# PyInstaller
#  Usually these files are written by a python script from a template
#  befor PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Put ignored files for your project here
backup/
*.drawio
sample/
references/
test/
tmp/
poc/
secret/
tmp/
config/*.ipynb
config/*/*.jsons
templates/eventbridge.template

# Skip makefiles file
*.stamp

# Temporary text file
note.txt

# Any py file in root folder
*.py
examples/*